---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectTile from '../components/ProjectTile.astro';
import { getAllProjects, filterByRoles, getLocalized, projectToTileData } from '../lib/projects';
import { t } from '../lib/i18n';

const locale = 'en' as const;
const params = Astro.url.searchParams;
const filterParam = params.get('filter');
const filters = filterParam ? filterParam.split(',').filter(Boolean) : [];
const allProjects = await getAllProjects();
let projects = filters.length ? filterByRoles(allProjects, filters) : allProjects.slice(0, 6);
if (filters.length && !projects.length) projects = allProjects.slice(0, 5);
const greeting = params.get('greeting');
const textRotateItems = t('text_rotate', locale).split('", "').map((s) => s.replace(/^"|"$/g, ''));
const title = 'Portfolio | Robert Michels';
const description = "I'm Robert Michels, a designer and developer from Vancouver. I design and program games, websites, and apps. | Robert Michels Portfolio";
---

<BaseLayout
  title={title}
  description={description}
  locale={locale}
  pageType="home"
  canonicalPath="/"
>
  <div class="downArrowWrapper">
    <div class="downArrow" id="downArrow">
      <a href="#MyWork" title="View Projects"><i class="fa-solid fa-chevron-down"></i></a>
    </div>
  </div>
  <canvas id="threeModel" style="visibility: hidden; display: none;"></canvas>
  <div class="landingModelImageWrapper">
    <img src="/assets/img/landingModel.webp" id="landingModelImage" alt="" />
    <div id="spinner" class="landingSpinner" style="display: none;">
      <div class="fancySpinner"></div>
    </div>
  </div>
  <div id="landingArea">
    <div class="row">
      <div class="col-50" id="landingText">
        <p>
          {greeting ? (
            <>
              {t('hi_greeting', locale)}{greeting},
              <br />
              I'm Robert Michels.
            </>
          ) : (
            <span set:html={t('hi_im_robert', locale).replace('Robert Michels', 'Robert&nbsp;Michels')} />
          )}
          <br />{t('i_design', locale)}<br />
          <span class="txt-rotate" data-period="2000" data-rotate={JSON.stringify(textRotateItems)}>
            {t('digital_media', locale)}
          </span>
        </p>
      </div>
    </div>
  </div>
  <section class="sectionMedia" id="MyWork">
    {projects.map((project) => {
      const tile = projectToTileData(project, locale);
      return (
        <ProjectTile
          slug={tile.slug}
          name={tile.name}
          type={tile.type}
          inDevelopment={tile.inDevelopment}
          roles={tile.roles}
          locale={locale}
        />
      );
    })}
    <div class="seeMoreBtn">
      <a href="/projects" title="See More">
        <span>{t('see_more', locale)}</span>
        <div class="liquid"></div>
      </a>
    </div>
  </section>
  {filterParam && filters.length > 0 && projects.length > 0 && (
    <script is:inline define:vars={{ filterParam }}>
      document.cookie = `visitorFilter=${encodeURIComponent(filterParam)}; path=/; max-age=31536000`;
    </script>
  )}
  {!filterParam && (
    <script is:inline>
      document.cookie = 'visitorFilter=; Max-Age=0; path=/';
    </script>
  )}
</BaseLayout>
